<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>{{ pageName }}</title>
        <script src="/js/script.js"></script>
        <style>
            body{
                background-image: url('img/1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>
       <div class="main-content"> 
        {{>header}}
        <h3>What are you going to see?</h3>
        <p>Well ! weather app is going to help you to search the weather of any place in the world by just simply typing the place name.</p>
        <p>We are taking data from mapbox.com and openweathermap.org</p>
        <p>We will keep updating our site and will bring for you the best things in coming time.</p>    
       </div> 
        {{>footer}}
    </body>
</html>