<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>{{ pageName }}</title>
        <script src="/js/script.js"></script>
        <style>
            body{
                background-image: url('img/1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>
       <div class="main-content"> 
        {{>header}}
        <p>{{errorMessage}}</p>
       </div> 
        {{>footer}}
    </body>
</html>